<div class="container">
    <div class="container jumbotron">
        <h1>Task Master</h1>

        <h2>Aaaargh! Go back to work</h2>

        <a class="btn btn-lg btn-primary" href="/user/new"> Sign up and start being yelled at now!</a>
    </div>
</div>